@{
    //if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    //{
    //    Layout = (string)parentLayout;
    //}
    //else
    //{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    //}
}

@*<h2>Manage your account</h2>*@

    <div>
        @*<h4>Change your account settings</h4>
        <hr />*@
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Gestion">Gestión</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Empleados">Empleados</a></li>
            <li class="breadcrumb-item active">Datos empleado</li>
        </ol>
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}